header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
  padding: 5.5rem 2rem;

  .hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    .hero-icon {
      width: 14rem;
      height: 14rem;
      rotate: 25deg;
    }
  }
}
