@import '/components/Header/style.css';
@import '/components/Preview-Button/style.css';
@import '/components/Footer/style.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  border: none;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: #f7f7f7;
}

body {
  height: 100%;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('assets/imgs/background-home.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

/* #region Global Styles */

.smoke-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  mix-blend-mode: screen;
  opacity: 0.1;
}

.content {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}

.btn-style {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  width: 8rem;
  padding: 1rem;
  border-radius: 2.5rem;
  border-top: 0.1rem solid #afafaf;
  border-left: 0.1rem solid #407543;
  border-bottom: 0.2rem solid #376639;
  font-size: 1.6rem;
  font-weight: bold;
  color: #b5e7ab;
  background-color: rgba(255, 255, 255, 0.1);

  cursor: pointer;
}
/* #endregion Global Styles */

/* #region PREVIEW-SECTION */

.preview-section {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.introductory {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 40rem;
  width: 100%;
  height: 60rem;
  font-size: 2.2rem;
  letter-spacing: 2px;

  .intro-head {
    padding-bottom: 5rem;

    h2 {
      font-size: 4.4rem;
    }

    span {
      font-size: 2rem;
      color: #b5e7ab;
    }
  }

  .intro-text {
    color: #e4e4e4;
  }
}

/* #endregion PREVIEW-SECTION */
