* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: #f7f7f7;
}

body {
  height: 100%;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('assets/imgs/background-home.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

/* #region HEADER */
header {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 5.5rem 1rem;
  h1 {
    font-size: 8rem;
    text-transform: uppercase;
    color: rgb(149, 201, 151);
  }

  .header-icon {
    width: 14rem;
    height: 14rem;
    rotate: 25deg;
  }
}
/* #endregion HEADER */

/* #region MAIN-SECTION */

main {
  flex: 1;
}
.showcase {
  display: flex;
  justify-content: space-between;

  padding-top: 5.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.introductory-recipe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 40rem;
  width: 100%;
  height: 65rem;
  font-size: 2.2rem;
  letter-spacing: 2px;

  .intro-head {
    padding-bottom: 5rem;

    h2 {
      font-size: 4.4rem;
    }

    span {
      font-size: 2rem;
      color: #b5e7ab;
    }
  }

  .intro-text {
    color: #e4e4e4;
  }
}

a {
  width: 30rem;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: #070707;

  background-color: lch(80.84% 56.41 142.43);

  padding: 0.5rem 1rem;
  border-radius: 2.5rem;
  border-left: 0.1rem solid #407543;
  border-bottom: 0.2rem solid #376639;

  .ingredient-icon {
    width: 3.5rem;
    height: 3.5rem;
  }
}

.smoke-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
  mix-blend-mode: screen;
  opacity: 0.1;
}

.content {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}
/* #endregion MAIN-SECTION */

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.6rem;
}
