@import '/components/Header/style.css';
@import '/components/Footer/style.css';

:root {
  /* COLORS */
  --h1-color: rgb(149, 201, 151);
  --h2-color: #f7f7f7;
  --p-color: #e4e4e4;
  --tagline-color: #b5e7ab;

  --primary-color: #f7f7f7;
  --secondary-color: #e4e4e4;
  --dark-color: #070707;
  --bg-color-button: lch(80.84% 56.41 142.43);

  /* FONT-SIZES */
  --fs-h1: 8rem;
  --fs-h2: 4.4rem;
  --fs-p: 2.2rem;
  --fs-sp: 2rem;
  --fs-sm: 1.6rem;
  --fs-button: 2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  border: none;
}

/* #region Global Styles */
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

h1 {
  font-size: var(--fs-h1);
  text-transform: uppercase;
  color: var(--h1-color);
}

h2 {
  font-size: var(--fs-h2);
  color: var(--h2-color);
}

p {
  font-size: var(--fs-p);
  color: var(--p-color);
}

span {
  font-size: var(--fs-sp);
}

small {
  font-size: var(--fs-sm);
  color: var(--secondary-color);
}

body {
  height: 100%;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('assets/imgs/background-home.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.smoke-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  mix-blend-mode: screen;
  opacity: 0.1;
}

.content {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}

/* #endregion Global Styles */

/* BUTTONS */
.nav-btn {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  width: 8rem;
  padding: 1rem;
  border-radius: 2.5rem;
  border-top: 0.1rem solid #afafaf;
  border-left: 0.1rem solid #407543;
  border-bottom: 0.2rem solid #376639;
  font-size: var(--fs-button);
  font-weight: bold;
  color: #b5e7ab;
  background-color: rgba(255, 255, 255, 0.1);

  cursor: pointer;
}

.action-btn {
  width: 30rem;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-weight: bold;
  color: var(--dark-color);
  background-color: var(--bg-color-button);

  padding: 0.5rem 1rem;
  border-radius: 2.5rem;
  border-left: 0.1rem solid #407543;
  border-bottom: 0.2rem solid #376639;

  cursor: pointer;
}

/* ICONS */
.icon {
  width: 3.5rem;
  height: 3.5rem;
}

/* #region PREVIEW-SECTION */

.preview-section {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.introductory {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 40rem;
  width: 100%;
  height: 60rem;
  letter-spacing: 2px;

  .intro-head {
    padding-bottom: 5rem;

    span {
      color: var(--tagline-color);
    }
  }
}

/* #endregion PREVIEW-SECTION */
