.prev-btn {
  width: 30rem;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: #070707;

  background-color: lch(80.84% 56.41 142.43);

  padding: 0.5rem 1rem;
  border-radius: 2.5rem;
  border-left: 0.1rem solid #407543;
  border-bottom: 0.2rem solid #376639;

  cursor: pointer;

  .button-icon {
    width: 3.5rem;
    height: 3.5rem;
  }
}
